.elementor-21 .elementor-element.elementor-element-19c4c80>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-45d7794 {
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-0c0fb27.elementor-view-stacked .elementor-icon {
    background-color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-0c0fb27.elementor-view-framed .elementor-icon,
.elementor-21 .elementor-element.elementor-element-0c0fb27.elementor-view-default .elementor-icon {
    fill: #363A3F;
    color: #363A3F;
    border-color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-0c0fb27.elementor-view-stacked .elementor-icon:hover {
    background-color: #A52578;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-21 .elementor-element.elementor-element-0c0fb27.elementor-view-framed .elementor-icon:hover,
.elementor-21 .elementor-element.elementor-element-0c0fb27.elementor-view-default .elementor-icon:hover {
    fill: #A52578;
    color: #A52578;
    border-color: #A52578;
}

.elementor-21 .elementor-element.elementor-element-0c0fb27.elementor-view-framed .elementor-icon:hover {
    background-color: #FFFFFF;
}

.elementor-21 .elementor-element.elementor-element-0c0fb27 {
    --icon-box-icon-margin: 15px;
}

.elementor-21 .elementor-element.elementor-element-0c0fb27 .elementor-icon-box-title {
    color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-0c0fb27 .elementor-icon-box-title,
.elementor-21 .elementor-element.elementor-element-0c0fb27 .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.elementor-21 .elementor-element.elementor-element-0c0fb27>.elementor-widget-container {
    padding: 40px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-e328a1f.elementor-view-stacked .elementor-icon {
    background-color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-e328a1f.elementor-view-framed .elementor-icon,
.elementor-21 .elementor-element.elementor-element-e328a1f.elementor-view-default .elementor-icon {
    fill: #363A3F;
    color: #363A3F;
    border-color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-e328a1f.elementor-view-stacked .elementor-icon:hover {
    background-color: #A52578;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-21 .elementor-element.elementor-element-e328a1f.elementor-view-framed .elementor-icon:hover,
.elementor-21 .elementor-element.elementor-element-e328a1f.elementor-view-default .elementor-icon:hover {
    fill: #A52578;
    color: #A52578;
    border-color: #A52578;
}

.elementor-21 .elementor-element.elementor-element-e328a1f.elementor-view-framed .elementor-icon:hover {
    background-color: #FFFFFF;
}

.elementor-21 .elementor-element.elementor-element-e328a1f {
    --icon-box-icon-margin: 15px;
}

.elementor-21 .elementor-element.elementor-element-e328a1f .elementor-icon-box-title {
    color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-e328a1f .elementor-icon-box-title,
.elementor-21 .elementor-element.elementor-element-e328a1f .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.elementor-21 .elementor-element.elementor-element-e328a1f>.elementor-widget-container {
    padding: 40px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-125f556.elementor-view-stacked .elementor-icon {
    background-color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-125f556.elementor-view-framed .elementor-icon,
.elementor-21 .elementor-element.elementor-element-125f556.elementor-view-default .elementor-icon {
    fill: #363A3F;
    color: #363A3F;
    border-color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-125f556.elementor-view-stacked .elementor-icon:hover {
    background-color: #A52578;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-21 .elementor-element.elementor-element-125f556.elementor-view-framed .elementor-icon:hover,
.elementor-21 .elementor-element.elementor-element-125f556.elementor-view-default .elementor-icon:hover {
    fill: #A52578;
    color: #A52578;
    border-color: #A52578;
}

.elementor-21 .elementor-element.elementor-element-125f556.elementor-view-framed .elementor-icon:hover {
    background-color: #FFFFFF;
}

.elementor-21 .elementor-element.elementor-element-125f556 {
    --icon-box-icon-margin: 15px;
}

.elementor-21 .elementor-element.elementor-element-125f556 .elementor-icon-box-title {
    color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-125f556 .elementor-icon-box-title,
.elementor-21 .elementor-element.elementor-element-125f556 .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.elementor-21 .elementor-element.elementor-element-125f556>.elementor-widget-container {
    padding: 40px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-5477296.elementor-view-stacked .elementor-icon {
    background-color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-5477296.elementor-view-framed .elementor-icon,
.elementor-21 .elementor-element.elementor-element-5477296.elementor-view-default .elementor-icon {
    fill: #363A3F;
    color: #363A3F;
    border-color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-5477296.elementor-view-stacked .elementor-icon:hover {
    background-color: #A52578;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-21 .elementor-element.elementor-element-5477296.elementor-view-framed .elementor-icon:hover,
.elementor-21 .elementor-element.elementor-element-5477296.elementor-view-default .elementor-icon:hover {
    fill: #A52578;
    color: #A52578;
    border-color: #A52578;
}

.elementor-21 .elementor-element.elementor-element-5477296.elementor-view-framed .elementor-icon:hover {
    background-color: #FFFFFF;
}

.elementor-21 .elementor-element.elementor-element-5477296 {
    --icon-box-icon-margin: 15px;
}

.elementor-21 .elementor-element.elementor-element-5477296 .elementor-icon-box-title {
    color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-5477296 .elementor-icon-box-title,
.elementor-21 .elementor-element.elementor-element-5477296 .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.elementor-21 .elementor-element.elementor-element-5477296>.elementor-widget-container {
    padding: 40px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-d6bd8d1.elementor-view-stacked .elementor-icon {
    background-color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-d6bd8d1.elementor-view-framed .elementor-icon,
.elementor-21 .elementor-element.elementor-element-d6bd8d1.elementor-view-default .elementor-icon {
    fill: #363A3F;
    color: #363A3F;
    border-color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-d6bd8d1.elementor-view-stacked .elementor-icon:hover {
    background-color: #A52578;
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-21 .elementor-element.elementor-element-d6bd8d1.elementor-view-framed .elementor-icon:hover,
.elementor-21 .elementor-element.elementor-element-d6bd8d1.elementor-view-default .elementor-icon:hover {
    fill: #A52578;
    color: #A52578;
    border-color: #A52578;
}

.elementor-21 .elementor-element.elementor-element-d6bd8d1.elementor-view-framed .elementor-icon:hover {
    background-color: #FFFFFF;
}

.elementor-21 .elementor-element.elementor-element-d6bd8d1 {
    --icon-box-icon-margin: 15px;
}

.elementor-21 .elementor-element.elementor-element-d6bd8d1 .elementor-icon-box-title {
    color: #363A3F;
}

.elementor-21 .elementor-element.elementor-element-d6bd8d1 .elementor-icon-box-title,
.elementor-21 .elementor-element.elementor-element-d6bd8d1 .elementor-icon-box-title a {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.elementor-21 .elementor-element.elementor-element-d6bd8d1>.elementor-widget-container {
    padding: 40px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-7209f63:not(.elementor-motion-effects-element-type-background),
.elementor-21 .elementor-element.elementor-element-7209f63>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://firstatlanticbank.com.gh/wp-content/uploads/2023/04/Exchange-rate_01-scaled.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-21 .elementor-element.elementor-element-7209f63>.elementor-background-overlay {
    background-color: #6C2A6B;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-7209f63 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-21 .elementor-element.elementor-element-313d761 .elementskit-section-title-wraper .elementskit-section-title {
    color: #FFFFFF;
    font-family: "DM Sans", Sans-serif;
    font-size: 47px;
    font-weight: 500;
}

.elementor-21 .elementor-element.elementor-element-313d761 .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000000;
}

.elementor-21 .elementor-element.elementor-element-313d761 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-21 .elementor-element.elementor-element-313d761 .elementskit-section-title-wraper .elementskit-section-subtitle {
    color: #E7E7E7;
    font-family: "DM Sans", Sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.elementor-21 .elementor-element.elementor-element-313d761>.elementor-widget-container {
    margin: 80px 0px 30px 0px;
}

.elementor-21 .elementor-element.elementor-element-173055b {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-21 .elementor-element.elementor-element-e4d9fee>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 150px 0px 150px;
    --e-column-margin-right: 150px;
    --e-column-margin-left: 150px;
}

.elementor-21 .elementor-element.elementor-element-e4d9fee>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-21 .elementor-element.elementor-element-0505874>.elementor-widget-container {
    margin: 0px 0px 60px 0px;
}

@media(max-width:767px) {
    .elementor-21 .elementor-element.elementor-element-e4d9fee>.elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
}